<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a3654cd5-82cc-4a6e-a52d-542255faa3ea/resourceGroups/fa20valdezjessehw3/providers/Microsoft.Web/sites/fa20valdezjessehw3</ResourceId>
    <ResourceGroup>fa20valdezjessehw3</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://fa20valdezjessehw3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>fa20valdezjessehw3.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fa20valdezjessehw3</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fa20valdezjessehw3</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>